########bio15-test############
vzctl create 300 --ostemplate  --hostname bio15-test --ipadd 10.4.13.300 --diskspace 1G
vzctl start 300
vzctl set 300 --nameserver 10.4.12.157 --ram 128M --save

########bio16-test############
vzctl create 303 --ostemplate centos-6.3-x86_64 --hostname bio16-test --ipadd 10.4.13.303 --diskspace 1G
vzctl start 303
vzctl set 303 --nameserver 10.4.12.157 --ram 128M --save

########civil16-test############
vzctl create 304 --ostemplate  --hostname civil16-test --ipadd 10.4.13.304 --diskspace 1G
vzctl start 304
vzctl set 304 --nameserver 10.4.12.157 --ram 128M --save

########cse12-test############
vzctl create 305 --ostemplate centos-6.3-x86_64 --hostname cse12-test --ipadd 10.4.13.305 --diskspace 1G
vzctl start 305
vzctl set 305 --nameserver 10.4.12.157 --ram 128M --save
vzctl exec 305 "yum install bzr" 
vzctl exec 305 "yum install apache2" 
vzctl exec 305 "yum install httpd" 
vzctl exec 305 "yum install ganglia" 
vzctl exec 305 "chkconfig --add apache2" 
vzctl exec 305 "chkconfig apache2 on" 
vzctl exec 305 "chkconfig --add httpd" 
vzctl exec 305 "chkconfig httpd on" 
vzctl exec 305 "chkconfig --add ganglia" 
vzctl exec 305 "chkconfig ganglia on" 

########ece09-test############
vzctl create 306 --ostemplate  --hostname ece09-test --ipadd 10.4.13.306 --diskspace 1G
vzctl start 306
vzctl set 306 --nameserver 10.4.12.157 --ram 128M --save

########ece19-test############
vzctl create 307 --ostemplate centos-6.3-x86_64 --hostname ece19-test --ipadd 10.4.13.307 --diskspace 1G
vzctl start 307
vzctl set 307 --nameserver 10.4.12.157 --ram 128M --save

########eee01-test############
vzctl create 308 --ostemplate ubuntu-11.04-x86 --hostname eee01-test --ipadd 10.4.13.308 --diskspace 1G
vzctl start 308
vzctl set 308 --nameserver 10.4.12.157 --ram 128M --save

########eee05-test############
vzctl create 309 --ostemplate centos-6.3-x86_64 --hostname eee05-test --ipadd 10.4.13.309 --diskspace 1G
vzctl start 309
vzctl set 309 --nameserver 10.4.12.157 --ram 128M --save

########eee07-test############
vzctl create 310 --ostemplate  --hostname eee07-test --ipadd 10.4.13.310 --diskspace 1G
vzctl start 310
vzctl set 310 --nameserver 10.4.12.157 --ram 128M --save

########eee12-test############
vzctl create 311 --ostemplate centos-6.3-x86_64 --hostname eee12-test --ipadd 10.4.13.311 --diskspace 1G
vzctl start 311
vzctl set 311 --nameserver 10.4.12.157 --ram 128M --save

########eee23-test############
vzctl create 312 --ostemplate ubuntu-11.04-x86 --hostname eee23-test --ipadd 10.4.13.312 --diskspace 1G
vzctl start 312
vzctl set 312 --nameserver 10.4.12.157 --ram 128M --save

########iitd-mirror############
vzctl stop 301

########mech04-test############
vzctl create 313 --ostemplate centos-6.3-x86_64 --hostname mech04-test --ipadd 10.4.13.313 --diskspace 1G
vzctl start 313
vzctl set 313 --nameserver 10.4.12.157 --ram 128M --save

########mech17-test############
vzctl create 314 --ostemplate centos-6.3-x86_64 --hostname mech17-test --ipadd 10.4.13.314 --diskspace 1G
vzctl start 314
vzctl set 314 --nameserver 10.4.12.157 --ram 128M --save

########mech18-test############
vzctl create 315 --ostemplate centos-6.3-x86_64 --hostname mech18-test --ipadd 10.4.13.315 --diskspace 1G
vzctl start 315
vzctl set 315 --nameserver 10.4.12.157 --ram 128M --save

########txtl01-test############
vzctl create 316 --ostemplate  --hostname txtl01-test --ipadd 10.4.13.316 --diskspace 1G
vzctl start 316
vzctl set 316 --nameserver 10.4.12.157 --ram 128M --save

########txtl02-test############
vzctl create 317 --ostemplate  --hostname txtl02-test --ipadd 10.4.13.317 --diskspace 1G
vzctl start 317
vzctl set 317 --nameserver 10.4.12.157 --ram 128M --save

########txtl03-test############
vzctl create 318 --ostemplate  --hostname txtl03-test --ipadd 10.4.13.318 --diskspace 1G
vzctl start 318
vzctl set 318 --nameserver 10.4.12.157 --ram 128M --save

########civil15-test############
vzctl create 319 --ostemplate ubuntu-11.04-x86 --hostname civil15-test --ipadd 10.4.13.319 --diskspace 1G
vzctl start 319
vzctl set 319 --nameserver 10.4.12.157 --ram 128M --save

########ece08-test############
vzctl create 320 --ostemplate  --hostname ece08-test --ipadd 10.4.13.320 --diskspace 1G
vzctl start 320
vzctl set 320 --nameserver 10.4.12.157 --ram 128M --save

########ece23-test############
vzctl create 321 --ostemplate  --hostname ece23-test --ipadd 10.4.13.321 --diskspace 1G
vzctl start 321
vzctl set 321 --nameserver 10.4.12.157 --ram 128M --save

########ece28-test############
vzctl create 322 --ostemplate  --hostname ece28-test --ipadd 10.4.13.322 --diskspace 1G
vzctl start 322
vzctl set 322 --nameserver 10.4.12.157 --ram 128M --save

########eee09-test############
vzctl create 323 --ostemplate centos-6.3-x86_64 --hostname eee09-test --ipadd 10.4.13.323 --diskspace 1G
vzctl start 323
vzctl set 323 --nameserver 10.4.12.157 --ram 128M --save

########eee10-test############
vzctl create 324 --ostemplate centos-6.3-x86_64 --hostname eee10-test --ipadd 10.4.13.324 --diskspace 1G
vzctl start 324
vzctl set 324 --nameserver 10.4.12.157 --ram 128M --save

########eee24-test############
vzctl create 325 --ostemplate  --hostname eee24-test --ipadd 10.4.13.325 --diskspace 1G
vzctl start 325
vzctl set 325 --nameserver 10.4.12.157 --ram 128M --save

########iitd-mirror############
vzctl stop 301
vzctl destroy 301

########vz-migrate############
vzctl stop 302
vzctl destroy 302

